*::after,
*::before,


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
   
   
   
     
   :root {
  
    
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
 
 
}


main {
  
  width: 100%;
  margin: 0%;
 
 
 

}


body {
	margin: 0 auto;
	max-width: 1600px;
	font-family: 'Lato';
	color: #333;
}
 
label {
  display: block;
}

.form {
  width: 400px;
  margin: 0 auto;
}

input[type="text"],
[type="password"] {
  display: block;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  margin: 5px 0 10px 0;
}

input[type="button"],
.button {
  background-color: rgb(16, 95, 163);
  padding: 10px;
  border: 0;
  min-width: 100px;
  border-radius: 5px;
  color: white;
}

nav {
  background-color: #eee;
  padding:  10px;
  margin: 0px;
  width: 100%;
  
  
}


nav ul {
  margin: 0;
}

nav ul li {
  display: inline-block;
  padding: 10px;
  margin: 0%;

}

a {
  color: rgb(97, 28, 161);
  text-decoration: none;
}

.dashboard {
  width: 500px;
  margin: auto;
}

.errorMessage {
  background-color: #f2dede;
  color: #a94442;
  padding: 10px;
}


.botonLogin{
  background-color: rgb(26, 61, 158);
  color: #eee;
  padding: 10px 40px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
/* contenedor 1 */

.d-block {
 
  
  height: 90vh;
  
  
  
  
}
.Titulo{
  font-size: 48px;
  color: #c52819;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana,;
}

/*Inicio Seccion 2*/
.contenedor-2{
  width: 100%;
  height: 100vh;
  background-color: #e4e2cf;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  }
  .contenedor-2__text{
    width: 35%;
  
  }
  .contenedor-2__img{
  width: 35%;
  }
  .contenedor-2__text h2{
    font-size: 48px;
    color: #f64b3c;
  }
  .contenedor-2__text p{
    font-size: 20px;
    margin: 40px 0px;
    color: #f64b3c;
  }
  .contenedor-2__text a{
    background-color: #f64b3c;
    width: 50%;
    padding: 15px 40px;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    color: #fff;
    border-radius: 40px;
  
  }
  
  .contenedor-2__text a:hover{
    background-color: #fff;
    color:#f64b3c;
  }
  
/*Inicio de seccion 4*/
.contenedor-4{
  width: 100%;
  height: 100vh;
  background-color: #f6eedf;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /*centrado horizontalmente*/
  color: #f64b3c;
  }
  .contenedor-4__text{
  
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  .contenedor-4__text h2{
  font-size: 48px;
  
  }
  .contenedor-4__text p{
  font-size: 20px;
    margin: 30px;
    text-align: center;
  }
  .contenedor-4__fotos{
  width: 80%;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  }
  
  .fotossucursales{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  
  }
  .fotossucursales img{
  border-radius: 15px;
  
  }
  .fotossucursales h3{
   font-size: 20px;
    margin: 10px 0;
  
  }
  .fotossucursales p{
  font-size: 18;
  }
  
  
 .fondoRegistrarse{
 
  position: absolute;
  height: 90vh;
  width: 100%;
  padding-top: 0px ;
  color: #5a54af;
 
  align-items: center;
 
}
.ContenedorFormulario{
  position: absolute;
  width: 100%;
}
.fondoformulario{
  position: absolute;
  height: 100vh;
  width: 100%;
  padding-top: 0px ;
}
.containerFormulario{
  position: relative;
 padding-top: 0px;
 color: #eee;
 width: 100%;
}
 .form{
  
  padding-top: 10px;
  position:relative;
  color: #fff;
 }
 .ContenedorTabladeproductos{
  display: flex;
  align-content: center;
 
  width: 100%;
 }
 .containerTabla{
  
position: relative;
  margin-top: 50px;
  color: #eee;
  align-content: center;
}
.tabladeproductos{
  position: relative;

}
.fondoTabladeproductos{
  position: absolute;
  height: 100vh;
  width: 100%;
  padding-top: 0px ;
}
.tablanumeros{
  position: relative;
}
  .Navegacion1{
    
    margin: 0%;
    width: 100%;
    
    
  }
  
  .tiendah1{
    text-align: center;
    padding-top: 20px;
    
  }
 .tituloformulario{
  color: #fff;
  position: relative;
  padding-top: 2px ;
 }
 .containerupdate{
  position: relative;
  align-items: center;
  padding: 0px;
 }
 .Contenedorupdate{
  position: absolute;
  align-content: center;
 
  width: 100%;
 }
.fondoupdate{
  position: absolute;
  height: 100vh;
  width: 100%;
  padding-top: 0px ;
}

 .botonActualizar{
  color: #af547e;
  
 }

